*~
*.swp
*.ini
Instances/*/*/*
!Instances/.config/Overrides/*.ini.example
!Instances/.config/Regions/*.ini.example
!Instances/.config/ConfigSets/
!Instances/.config/Stats/*
Instances/.config/.runlist
Instances/.config/.pidfile
Instances/.config/config.inc.php
Instances/.config/ConfigSets/*
Logs/*
web/img_cache/*
!web/img_cache/error.png
