<?php
	// where are the opensim databases kept for regions and estate?
	// the username and password here is so that the script can create databases
	// ready for opensim instances, so the user needs create privileges
	$mysql= array(
		'RegionDBServer'	=>array('server'=>'localhost',
															'user'	=>'opensim_admin',
															'pwd'		=>'xxxxx'),
		'EstateDBServer'	=>array('server'=>'localhost',
															'user'	=>'opensim_admin',
															'pwd'		=>'xxxxx')
	);

	// where are the opensim databases kept for regions and estate?
	// the username and password here is what opensim instances will use to access
	// the region and estate databases
	$opensim=array(
		'RegionDBServer'	=>array('server'=>'localhost',
															'user'	=>'opensim',
															'pwd'		=>'xxxxx'),
		'EstateDBServer'	=>array('server'=>'localhost',
															'user'	=>'opensim',
															'pwd'		=>'xxxxx')
	);	
	//Configs: here we list all the places that we get configs from. These may be standalone or grid
	//configurations, each instance will use the named config set as its base. These base configs
	//can then be overridden, per instance, to make custom configurations. Remember that each group of instances
	//that uses a config set MUST HAVE ITS OWN build folder bin/ directory as things like asset-cache CANNOT
	//be shared between grids or a grided instance and a standalone instance.
	//THE ORDER of the ini files MATTERS, as this will be the order they are loaded when starting an instance.
	//Files are assumed to be in or relative to the bin/ directory of the instances selected build folder

	$osconfigs['standalone'] = array( //default standalone setup that comes with Opensim
		'OpenSimDefaults.ini' => BIN_DIR.'OpenSimDefaults.ini',
		'OpenSim.ini'				=> BIN_DIR.'OpenSim.ini.example',
		'config-include/Standalone.ini'		=> BIN_DIR.'config-include/Standalone.ini',
		'config-include/StandaloneCommon.ini'		=> BIN_DIR.'config-include/StandaloneCommon.ini.example',
		'config-include/FlotsamCache.ini'	=> BIN_DIR.'config-include/FlotsamCache.ini.example',
		'config-include/osslEnable.ini'	=> BIN_DIR.'config-include/osslEnable.ini'
	);

	$osconfigs['osgrid'] = array(	//default configs that come ready for OSGrid
		'OpenSimDefaults.ini' => BIN_DIR.'OpenSimDefaults.ini',
		'OpenSim.ini'				=> 'http://download.osgrid.org/OpenSim.ini.txt',
		'config-include/GridHypergrid.ini'=> BIN_DIR.'config-include/GridHypergrid.ini',
		'config-include/GridCommon.ini'		=> 'http://download.osgrid.org/GridCommon.ini.txt',
		'config-include/FlotsamCache.ini'	=> 'http://download.osgrid.org/FlotsamCache.ini.txt'
	);
	
	define('DEFAULT_CONFIG_SET','osgrid');	//what config set to use when creating an instance, as default?

	define('INSTANCE_MIN_PORT',9000);
	define('INSTANCE_MAX_PORT',9025);
	define('INSTANCE_DB_PREFIX','Opensim_');
	define('ESTATE_DB','Estate');

	//used only if you enable remote admin http server and configure it for https
	define('SSL_PORT_OFFSET',500); //offset from http base port

	define('TIMEOUT',60); //timeout in seconds when starting and stopping instances
	define('MAX_RESTART_COUNT',3); //how many times do we attempt a restart until mark as broken?
	define('MAX_RESTART_TIME_INTERVAL',30); //how long do we consider an instance being up means it's not broken
	define('TMUX_SESSION_NAME','OS'); //name for the session that tmux will use for its instance windows
	define('TMUX_START_TIMEOUT',10);
	define('TMUX_STOP_TIMEOUT',20);
	define('TMUX_CONTROL_PREFIX','C-a'); //what control key combo do we use for tmux? CTRL+A
	define('TMUX_SCROLL_BUFFER',10000);  //how much scrollback do we want?
	
	define('RENICE_VALUE',-10);	//renice the mono process(s). *This doesn't work yet :( *

	define('BULLET_IN_OWN_THREAD',1); //run bulletsim in it's own thread

	define('REGION_NAMES_REGEX','/^[a-z0-9\ \_\-\*\(\)\!]+$/i'); //what are legal characeters in region names
	
	define('OPENSIM_GIT_REPOSITORY','git://opensimulator.org/git/opensim');

	// a list of the RRDTool datatypes we can use in stats.
	define('RRD_TYPES','GAUGE,COUNTER,DERIVE,DCOUNTER,DDERIVE,ABSOLUTE,COMPUTE');

	// If you change these RRD settings you will need to re-initialise the RRD databases.
	define('RRD_STAT_UPDATE_INTERVAL',60); //how often will we be updating the stats in seconds?
	define('RRD_XFF',0.5);
	define('RRD_RRA_MIN','1:1440'); //consolidate to 1 datapoint every min, store one day's worth
	define('RRD_RRA_5MIN','5:2016'); //consolidate to 1 datapoint every 5 mins, store one week's worth
	define('RRD_RRA_HOUR','60:1344'); //consolidate to 1 datapoint an hour, store eight week's worth
	define('RRD_RRA_DAY','1440:1095'); //consolidate to 1 datapoint an day, store three year's worth

	define('RRD_GRAPH_WIDTH',500);
	define('RRD_GRAPH_HEIGHT',250);

	define('MAIL_TO',''); //where do we email stuff to?
	
	date_default_timezone_set('Europe/London');

?>