; This file contains defaults that will be applied to all Regions/Regions.ini files
[Region Defaults]
	InternalAddress = 0.0.0.0
	AllowAlternatePorts = False
	ExternalHostName = "SYSTEMIP"
	NonphysicalPrimMax = 1024
	PhysicalPrimMax = 64
	ClampPrimSize = False
	MaxPrims = 15000
	MaxAgents = 100
	RegionType = "Mainland"
